<div id="stripedisplay" style="display:none;">	
	  <%= form_tag charges_path do %>
	
        <%= hidden_field_tag "project",@project_id%>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	          data-description="A month's subscription"
	          data-amount="<%= ((@amount)*100)%>">
             
	          </script>
         
      <% end %>
	</div>	
