<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
   <li><h1>Sharqin Logo</h1></li>
 	</ul>
	<ul class="nav navbar-nav navbar-right">
  	<li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Browse Campaigns", projects_path %></button>
  	</li>
  	<li><button type="button" class="btn btn-success navbar-btn"><%= link_to "Create New Campaign", new_project_path %></button>
		</li>
	</ul>
</div>




<!-- <div class="row">
  <div class="col-md-4"><h1>SeriesFunder Logo</h1></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <button type="button" class="btn btn-default navbar-btn"><%= link_to "Browse Campaigns", projects_path %></button>
  <button type="button" class="btn btn-success navbar-btn"><%= link_to "Create New Campaign", new_project_path %></button>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
</div> -->